In [18]:
import pandas as pd
import os

In [19]:
import kagglehub

path_titanic = kagglehub.dataset_download("brendan45774/test-file")

Using Colab cache for faster access to the 'test-file' dataset.

In [20]:
os.listdir(path_titanic)

['tested.csv']

In [21]:
file_name = os.listdir(path_titanic)[0]
titanic = pd.read_csv(os.path.join(path_titanic, file_name))

In [22]:
titanic.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,892,0,3,"Kelly, Mr. James",male,34.5,0,0,330911,7.8292,NaN,Q
1,893,1,3,"Wilkes, Mrs. James (Ellen Needs)",female,47.0,1,0,363272,7.0000,NaN,S
2,894,0,2,"Myles, Mr. Thomas Francis",male,62.0,0,0,240276,9.6875,NaN,Q
3,895,0,3,"Wirz, Mr. Albert",male,27.0,0,0,315154,8.6625,NaN,S
4,896,1,3,"Hirvonen, Mrs. Alexander (Helga E Lindqvist)",female,22.0,1,1,3101298,12.2875,NaN,S

In [23]:
titanic.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 418 entries, 0 to 417
Data columns (total 12 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   PassengerId  418 non-null    int64
 1   Survived     418 non-null    int64
 2   Pclass       418 non-null    int64
 3   Name         418 non-null    object
 4   Sex          418 non-null    object
 5   Age          332 non-null    float64
 6   SibSp        418 non-null    int64
 7   Parch        418 non-null    int64
 8   Ticket       418 non-null    object
 9   Fare         417 non-null    float64
 10  Cabin        91 non-null     object
 11  Embarked     418 non-null    object
dtypes: float64(2), int64(5), object(5)
memory usage: 39.3+ KB

In [24]:
titanic.describe()

,PassengerId,Survived,Pclass,Age,SibSp,Parch,Fare
count,418.000000,418.000000,418.000000,332.000000,418.000000,418.000000,417.000000
mean,1100.500000,0.363636,2.265550,30.272590,0.447368,0.392344,35.627188
std,120.810458,0.481622,0.841838,14.181209,0.896760,0.981429,55.907576
min,892.000000,0.000000,1.000000,0.170000,0.000000,0.000000,0.000000
25%,996.250000,0.000000,1.000000,21.000000,0.000000,0.000000,7.895800
50%,1100.500000,0.000000,3.000000,27.000000,0.000000,0.000000,14.454200
75%,1204.750000,1.000000,3.000000,39.000000,1.000000,0.000000,31.500000
max,1309.000000,1.000000,3.000000,76.000000,8.000000,9.000000,512.329200

In [25]:
titanic['Sex'].unique()

array(['male', 'female'], dtype=object)

In [26]:
titanic['Embarked'].unique()

array(['Q', 'S', 'C'], dtype=object)

In [32]:
import os
import pandas as pd
import kagglehub

# Download latest version
path_student_performance = kagglehub.dataset_download(
    "devansodariya/student-performance-data"
)

# Get the first file in the directory
file_name = os.listdir(path_student_performance)[0]

# Read the CSV
student_performance = pd.read_csv(
    os.path.join(path_student_performance, file_name)
)

# Preview
student_performance.head()

Using Colab cache for faster access to the 'student-performance-data' dataset.

,school,sex,age,address,famsize,Pstatus,Medu,Fedu,Mjob,Fjob,...,famrel,freetime,goout,Dalc,Walc,health,absences,G1,G2,G3
0,GP,F,18,U,GT3,A,4,4,at_home,teacher,...,4,3,4,1,1,3,6,5,6,6
1,GP,F,17,U,GT3,T,1,1,at_home,other,...,5,3,3,1,1,3,4,5,5,6
2,GP,F,15,U,LE3,T,1,1,at_home,other,...,4,3,2,2,3,3,10,7,8,10
3,GP,F,15,U,GT3,T,4,2,health,services,...,3,2,2,1,1,5,2,15,14,15
4,GP,F,16,U,GT3,T,3,3,other,other,...,4,3,2,1,2,5,4,6,10,10

In [36]:
student_performance['sex'].unique()

array(['F', 'M'], dtype=object)

In [38]:
# Titanic categorical columns
print("Titanic - Sex unique values:", titanic['Sex'].unique())
print("Titanic - Embarked unique values:", titanic['Embarked'].unique())

Titanic - Sex unique values: ['male' 'female']
Titanic - Embarked unique values: ['Q' 'S' 'C']

In [39]:
print("Students - sex unique values:", student_performance['sex'].unique())
print("Students - address unique values:", student_performance['address'].unique())
print("Students - famsize unique values:", student_performance['famsize'].unique())

Students - sex unique values: ['F' 'M']
Students - address unique values: ['U' 'R']
Students - famsize unique values: ['GT3' 'LE3']

In [40]:
print("Titanic dataset shape:", titanic.shape)
print("Student Performance dataset shape:", student_performance.shape)

Titanic dataset shape: (418, 12)
Student Performance dataset shape: (395, 33)

In [41]:
titanic.isnull().sum()

PassengerId      0
Survived         0
Pclass           0
Name             0
Sex              0
Age             86
SibSp            0
Parch            0
Ticket           0
Fare             1
Cabin          327
Embarked         0
dtype: int64

In [42]:
student_performance.isnull().sum()

school        0
sex           0
age           0
address       0
famsize       0
Pstatus       0
Medu          0
Fedu          0
Mjob          0
Fjob          0
reason        0
guardian      0
traveltime    0
studytime     0
failures      0
schoolsup     0
famsup        0
paid          0
activities    0
nursery       0
higher        0
internet      0
romantic      0
famrel        0
freetime      0
goout         0
Dalc          0
Walc          0
health        0
absences      0
G1            0
G2            0
G3            0
dtype: int64